*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navbar*/
.navbar{
    background-color: rgb(253, 251, 251);
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 110px;
    align-items: center;

}
.logo img{
    height: 60px;
    width: auto;
}
.nav-links{
    list-style: none;
    display: flex;
    padding-left: 700px;
    gap: 20px;
    color: rgba(0, 0, 0, 1);
    
}


.nav-links li a{
    text-decoration: none;
    font-weight: bold;
    
    color: rgb(53, 53, 54);

}

/*hero-banner*/
.content{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding:60px 10%;
    background-color: rgb(235, 241, 238);
    border-radius: 20px;
    

}
.left-content h1{
    padding-top: 100px;
    font-size: 40px;
    
}
.left-content h1 span{
    color: rgba(233, 90, 8, 1);
}
.left-content p{
    font-size: 16px;
    line-height: 1.6;
}
.left-content{
    flex: 1;
}
.right-content{
    flex: 1;

}
.right-content img{
    width: 100%;
}
/*card-section*/
.card-section{
    background-color: rgb(250, 247, 247);
    margin: 15px;
    padding: 15px;
    
}
.card-title{
    text-align: center;
    align-items: center;
}
.card-title h2{
    font-size: 30px;
    font-weight: 700;
}
.card-title span{
    color:rgba(233, 90, 8, 1) ;
}
.card-container{
    
    margin: 10px;
    padding: 15px;
    width: auto;
    box-sizing: border-box;
    
    
}
.card-container img{
    width: 230px;
}
.card-container p{
    align-items: center;
    text-align: center;
}
.card-container span{
    font-weight: bold;

}
.btn{
    border: hidden;
    color: rgba(255, 255, 255, 1);
    width:100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(233, 90, 8, 1);
}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
   

}
/*flowers lovers section*/
.flower-lovers{
    display: flex;
    justify-content: space-around;
    
    
    margin: 80px auto;
    padding: 10px;
    gap: 20px;
    
    width: 940px;
    height: auto;

}
.flower-lovers-image{
    background-image: url(image/flower-store.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width:420px;
    height: 360px;
}
.flower-lovers-title{
    box-sizing: border-box;

    width: 400px;
    height: auto;
    

}
.flower-lovers-title h2 {
margin-bottom: 30px;
font-size:40px;
}
.flower-lovers-title p{
    gap: 10px;
    color:rgba(0, 0, 0, 0.5) ;
}
.flower-lovers-image img{
    width: 210px;
    height: auto;
    margin-left: 300px;
    margin-top: -100px;

}
.latest-deal{
    margin: 30px ;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.deals-title h1{
font-weight: bold;
font-size: 40px;
}
.deals-title span{
color:rgba(233, 90, 8, 1) ;

}
.deals-title p{
    color: rgba(0, 0, 0, 0.5);
}
/*collage-section*/
.collage-section{
    
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
}
.row12-header{
    margin-left: 160px;
    border-radius: 15px;
    gap: 30px;
}
.row1{
    
    color: rgba(255, 255, 255, 1);
     align-items: center;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
   height: 180px;
    width: 320px;
    background-image: url(image/deal-bloom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
.row2{
    
    color: rgba(255, 255, 255, 1);
     align-items: center;
    text-align: center;
    padding-top: 70px;
    height: 180px;
    width: 320px;
    background-image: url(image/deal-ana.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
.row3{
    
    color: rgba(255, 255, 255, 1);
    align-items: center;
    text-align: center;
    padding-top: 170px;

    height:auto;
    width:550px;
    background-image: url(image/deal-zabo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bold;
}






/*responsive mobile device*/
@media (max-width:576px) {
    /*navbar*/
    .nav-links{
        display: none;
    }

    
    
    /*hero-content*/
    .content{
        flex-direction: column-reverse;
        text-align: center;
        padding: 30px 5%;
    }
    .right-content img{
        width: 100%;
    }
    /* card-section*/
    #container{
        grid-template-columns: repeat(2,1fr);
        
    }
    .card-container img{
        width: 100%;
    }
    /*flowers lovers-section*/
    .flower-lovers{
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .flower-lovers-image
    .flower-lovers-title{
        width: 100%;
        margin: 30px;

    }
    .flower-lovers-image img{
    display: none;
    }
    /*collage-section*/
    .collage-section{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .row1,
    .row2,
    .row3{
    
        width:355px;
        height: 200px;
        padding-top: 60px;
       
        font-size: 22px;
        
    }
    .row3{
        width: 90%;
        height: 200px;
        padding-top: 60px;
        font-size: 22px;
    }
    .row12-header{
        margin-left: 0;
        text-align: center;
    }
}
